@import "react-big-calendar/lib/sass/styles";

.rbc-event {
  background-color: "red";
}

.rbc-slot-selection {
  background-color: "black";
}

.rbc-timeslot-group {
  background-color: "lightpink";
}
